
<!DOCTYPE html>

<html>

<head>
	<title> Info </title>
	<link rel='stylesheet', href='static/info.css'>
</head>

<body>

	<h1 id='HomeHeader'>
		<center>Fraudulent Activity Info Page</center></h1>

	<center id='Graphs'>
		<p>Below are the feature importances in identifying fraudelent postings.</p>
		<img src="https://i.imgur.com/P17bZOf.png">

		<p>Below is the Profit Curve given our budget. The max profit occurs at setting a threshold fraud value of 0.22</p>
		<img src="https://i.imgur.com/Lw72R1f.png">

	</center>

	<div id=HomeHeader2>
		<p>If event is flagged possible causes in order of importance are</p>
		<ul>
			<li>Lack of payment history.</li>
			<li>If the event is created from a new user account.</li>
			<li>The amount of time between the event and when the payout is suppose to happen.</li>
		</ul>
		<li><a href="/">Home</a></li>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="static/home.js"></script>

</body>

</html>